body {
  min-height: 1200px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background-color: #849d8f;
  font-weight: normal;
  font-family: "Roboto", "Arial", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
h1 {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: 700;
}
h2 {
  font-size: 28px;
  line-height: 32px;
  color: #ffffff;
  font-weight: normal;
}
h3 {
  font-size: 24px;
  line-height: 28px;
  color: #323232;
  font-weight: normal;
}
h4 {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  font-weight: normal;
}
.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.btn {
  display: inline-block;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  background-color: #ed5b3d;
  border: none;
  cursor: pointer;
  border-radius: 35px;
  background-image: linear-gradient(#f26843, #ca3824);
  box-shadow: 0 2px 2px 0 rgba(160,32,11, 0.7);
}
.btn:hover {
  background-image: linear-gradient(#f58669, #ec6f5e);
  box-shadow: 0 1px 2px 0 #ac1000;
}
.btn:active {
  background-image: linear-gradient(#d74632, #e1613e);
  box-shadow: inset 0 2px 2px 0 #942718;
}
.line {
  border-bottom: 1px solid #9db1a5;
}

/*header*/
.main-header {
  position: relative;
}
.logo {
  position: absolute;
  left:22px;
  height: 63px;
  width: 153px;
  margin-top: 10px;
}
.main-navigation {
  float: left;
  width: 570px;
  margin-left: 165px;
}
.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.navigation-menu li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}
.main-navigation a {
  display: block;
  margin-top: 22px;
  padding: 8px 14px;
  color: #ffffff;
  text-decoration: none;
}
.main-navigation a:hover {
  border-radius: 25px;
  color: #333333;
  text-decoration: none;
  background-color: #f7f6f3;
}
.navigation-submenu {
  display: none;
}
.user-block {
  float: right;
  font-size: 0;
  text-align: right;
}
.search-list,
.login-list,
.cart {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.search-list,
.login-list {
  margin-right: 10px;
}
.search-list a,
.login-list a,
.cart a {
  display: block;
  margin-top: 23px;
  font-size: 14px;
  line-height: 16px;
  color:#ffffff;
  background-color: #9db1a5;
  text-decoration:none;
}
.login-list a{
  position: relative;
  padding-right: 16px;
  padding-left: 44px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 25px;
}
.login-list a:before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 20px;
  height: 19px;
  background: url(../img/sprite.png) no-repeat -368px -10px;
}
/*.login-list a:hover:before {
  background-image: url(../img/login-active.svg);
  background-repeat: no-repeat;
  color: #323232;
  background-color: #f8f7f4;
}*/
.search-list a {
  position: relative;
  border-radius: 18px;
  width: 33px;
  height: 33px;
  font-size: 0;
}
.search-list a:before {
  content: "";
  position: absolute;
  top: 9px;
  left: 9px;
  width: 17px;
  height: 17px;
  background: url(../img/sprite.png) no-repeat -408px -10px;
}
.cart a {
  position: relative;
  width: 72px;
  border-radius: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 45px;
}
.cart a:before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 20px;
  background: url("../img/sprite.png") no-repeat -158px -10px;
}
.search-form,
.cart-tooltip,
.login-form {
  display: none;
}
.phone-header {
  float: right;
  width: 267px;
  text-align: right;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}
.phone-header span {
  font-size: 20px;
  line-height: 24px;
}

/*Блок со слайдером*/
.slider {
  text-align: center;
  /*для визуального выделения элемента*/
  outline: solid lightyellow 1px;
}
.slide {
  width: 1045px;
  height: 284px;
  margin: 0 auto;
  padding-top: 268px;
}
.slider-inner {
  overflow: hidden;
}
.slider-controls {
  text-align: left;
  font-size: 0;
  /*для визуального выделения элемента*/
  outline: solid lightyellow 1px;
}
.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  box-shadow: 0 0 0 0 #ffffff;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background-color: #849d8f;
}
.controls input[type=radio] {
  display: none;
}

.slider-slogan {
  margin: 0 auto;
}
.slider-slogan p {
  display: block;
  min-width: 700px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 900;
  letter-spacing: 0.3px;
  /*для визуального выделения элемента*/
  outline: solid lightyellow 1px;
}
.site-wrapper {
  background-image: url(../img/ice-1.png);
  background-color: #849d8f;
  background-repeat: no-repeat;
  background-position: top;
}
#slide-2,
#slide-3 {
  display: none;
}
.btn-both {
  margin-top: 30px;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  padding: 11px 40px;
  text-shadow: 0 2px 5px #a0200b;
}

/*Блок с баннерами*/
.banner {
  margin-bottom: 20px;
  font-size: 0;
}
.banner div {
  position: relative;
}
.banner-left {
  float: left;
  background-image: url(../img/razz.png);
  background-repeat: no-repeat;
  width: 520px;
  min-height: 229px;
  padding: 0 20px;
}
.banner-right {
  float: right;
  background-image: url(../img/chocolate.png);
  background-repeat: no-repeat;
  width: 520px;
  min-height: 229px;
  padding: 0 20px;
}
.banner-left h2,
.banner-right h2 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin: 0;
  margin-top: 17px;
  margin-bottom: 15px;
}
.banner-left p,
.banner-right p{
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 43px;
}
.btn-primary {
  position: absolute;
  bottom: 23px;
  right: 21px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding: 11px 22px;
  text-align: center;
}

/*Блок с хитами*/
.hit {
  font-size: 0;
  margin-bottom: 40px;
}
.item {
  display: inline-block;
  margin-right: 26px;
  vertical-align: top;
  width: 267px;
  text-align: center;
}
.item:nth-child(4n) {
  margin-right: 0;
}
.item a {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
}
.item-ice {
  position: relative;
  font-size: 0;
}
.price {
  position: relative;
}
.price-value {
  position: absolute;
  top: -68px;
  left: -2px;;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0 1px 5px #6d7f76;
}
.price-kg {
  position: absolute;
  top: -64px;
  left: 112px;
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0 1px 5px #6d7f76;
}
.rub:after {
  content: "";
  position: absolute;
  top: -62px;
  left: 78px;
  width: 32px;
  height: 37px;
  background: url(../img/sprite.png) no-repeat -512px -10px;
}
.hit-icon:before {
  content: "";
  position: absolute;
  top: 23px;
  left: 0;
  width: 61px;
  height: 61px;
  background: url(../img/sprite.png) no-repeat -10px -10px;
}

/*Каталог*/
.goods {
  font-size: 0;
}
.item-view {
  display: none;
}

/*Блок с информацией о магазине*/
.about {
  padding: 20px;
  padding-bottom: 14px;
  background-image: url(../img/texture-wafer.png);
  margin-bottom: 40px;
  border-radius: 15px;
  color: #323232;
  font-size: 0;
}
h2.about-title {
  margin: 5px 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;
  padding: 0;
}
.about li {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 540px;
  margin-right: 26px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
.about li:nth-child(2n) {
  margin-right: 0;
}
.about p {
  padding-top: 2px;
  padding-left: 57px;
}
.icon-icecream:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 47px;
  height: 47px;
  background: url(../img/icecream-icon.svg) no-repeat;
}
.icon-source:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 47px;
  height: 47px;
  background: url(../img/list-icon.svg) no-repeat;
}
.icon-material:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 47px;
  height: 47px;
  background: url(../img/cow-icon.svg) no-repeat;
}
.icon-delivery:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 47px;
  height: 47px;
  background: url(../img/temperature-icon.svg) no-repeat;
}

/*Блок с новостями и рассылкой*/
.blog {
  margin-bottom: 40px;
}
.news {
  float: left;
  background-image: url(../img/blog-image.jpg);
  background-repeat: no-repeat;
  width: 289px;
  min-height: 197px;
  padding-top: 23px;
  padding-left: 21px;
  padding-right: 250px;
  margin: 0;
  border: none;
  border-radius: 15px;
  font-size: 0;
}
.news h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #323232;
  margin: 0;
  padding: 0;
}
.news a {
  display: inline-block;
  vertical-align: top;
  margin-top: 2px;
  text-decoration: underline;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
}
.distribution {
  float: right;
  padding-left: 21px;
  padding-right: 15px;
  padding-top: 30px;
  background-color: #f8f7f4;
  width: 512px;
  min-height: 178px;
  border-radius: 15px;
  border: 6px solid red;
  font-size: 0;
}
.distribution p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #5a5a5a;
  padding: 0;
  margin: 0;
}
.distribution-form {
  margin-top: 40px;
}
.distribution input {
  display: inline-block;
  vertical-align: top;
}
.distribution input[type="email"] {
  padding-top: 11px;
  padding-bottom: 10px;
  padding-left: 14px;
  border-radius: 5px;
  border: 1px solid #a0a0a0;
  width: 352px;
  margin-right: 10px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #999999;
}
.btn-distribution {
  padding: 9px 18px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
/*Блок с картой*/
.map-contacts {
  width: auto;
  min-height: 310px;
  padding: 60px 0;
  background: url(../img/map.jpg) no-repeat center;
}
.map-address {
  float: right;
  background-color: #fefefe;
  width: 277px;
  margin-right: 0;
  padding-left: 25px;
  padding-top: 29px;
  padding-bottom: 30px;
  color: #323232;
  border-radius: 15px;
  font-size: 0;
}
.map-address p {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
}
.address {
  display: inline-block;
  vertical-align: top;
  margin-top: 2px;
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
.tel {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 2px;
}
.feedback {
  display: none;
}
.btn-feedback {
  padding: 10px 28px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-top: 26px;
}
/*footer*/
.footer {
  margin-top: 0px;
  /*для визуального выделения элемента*/
  outline: solid lightyellow 1px;
}
.footer-social {
  float: left;
  width: 200px;
  margin-top: 36px;
  font-size: 0;
  /*для визуального выделения элемента*/
  outline: solid lightyellow 1px;
}
.footer-info {
  float: left;
  margin-top: 33px;
  font-size: 0;
  width: 400px;
  margin-left: 200px;
  /*для визуального выделения элемента*/
  outline: solid lightyellow 1px;
}
.footer-info ul {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
.footer-info li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
  padding-right: 20px;
}
.footer-info li:nth-child(2) {
  padding-left: 10px;
}
.footer-info li:nth-child(1) {
  font-weight: 700;
}
.footer-info a {
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #9db1a5;
}
.footer-info a:hover,
.footer-info a:active {
  color: #ffbc9e;
  border-bottom: 1px solid #ffbc9e;
}
.like:before {
  content: "";
  position: absolute;
  top: 2px;
  left: -2px;
  width: 15px;
  height: 13px;
  background: url(../img/sprite.png) no-repeat -266px -10px;
}
.footer-copyright {
  float: right;
  margin-top: 17px;
  font-size: 12px;
  line-height: 16px;
  /*для визуального выделения элемента*/
  outline: solid lightyellow 1px;
}
.footer-copyright a {
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #9db1a5;
}
.footer-copyright a:hover,
.footer-copyright a:active {
  color: #ffbc9e;
  border-bottom: 1px solid #ffbc9e;
}
.copyright-logo img {
  border-bottom: none;
}
.social-btn {
  display: inline-block;
  vertical-align: top;
  width: 31px;
  height: 31px;
  margin-right: 12px;
  text-align: center;
  border: 3px solid #c2cec7;
  border-radius: 50%;
  color: #849d8f;
}
/*.social-btn:hover {
  background-color: #ffffff;
  border: 3px solid #ccd7d1;
}
.social-btn:active {
  background-color: #e9e9e9;
  border: 3px solid #d9e1dd;
  box-shadow: inset 0 2px 1px 0 #888888;
}*/

.social-btn-tw {
  background: url(../img/sprite.png) no-repeat -665px -10px;
}
.social-btn-inst {
  background: url(../img/sprite.png) no-repeat -614px -10px;
}
.social-btn-fb {
  background: url(../img/sprite.png) no-repeat -563px -10px;
}
.social-btn-vk {
  background: url(../img/sprite.png) no-repeat -716px -10px;
}

/*Хлебные крошки*/
.breadcrumbs {
  font-size: 0;
  /*для визуального выделения элемента*/
  outline: solid lightyellow 1px;
}
.breadcrumbs li {
  display: inline-block;
  vertical-align: top;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
}
.breadcrumbs a {
  color: #ffffff;
}

/*Переключатель страниц*/
.paginator {
  font-size: 0;
  text-align: right;
  /*для визуального выделения элемента*/
  outline: solid lightyellow 1px;
}
.paginator a,
.paginator span {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 16px;
  height: 16px;
  padding: 6px;
  margin-right: 4px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.paginator a:last-child {
  margin-right: 0;
}
.paginator a {
  color: #ffffff;
}
.paginator a:hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}
.paginator span {
  color: #323232;
}
.active-page {
  background-color: #ffffff;
  text-align: center;
}

/*Фильтры*/
.filters {
  margin-bottom: 40px;
  /*для визуального выделения элемента*/
  outline: solid orange 1px;
}
.filters-form {
  font-size: 0;
}
.select {
  display: inline-block;
  vertical-align: top;
  width: 192px;
  margin-right: 16px;
  margin-bottom: 17px;
  font-size: 14px;
  line-height: 16px;
  /*для визуального выделения элемента*/
  outline: solid lightyellow 1px;
}
.range-controls {
  display: inline-block;
  vertical-align: top;
  width: 218px;
  margin-right: 15px;
  margin-bottom: 17px;
  font-size: 14px;
  line-height: 16px;
  /*для визуального выделения элемента*/
  outline: solid lightyellow 1px;
}
.fatness {
  display: inline-block;
  vertical-align: top;
  width: 414px;
  margin-bottom: 17px;
  font-size: 14px;
  line-height: 16px;
  /*для визуального выделения элемента*/
  outline: solid lightyellow 1px;
}
.filler {
  display: inline-block;
  vertical-align: top;
  width: 702px;
  margin-right: 15px;
  font-size: 14px;
  line-height: 16px;
  /*для визуального выделения элемента*/
  outline: solid lightyellow 1px;
}
.btn-filter {
  display: inline-block;
  vertical-align: top;
  width: 144px;
  /*для визуального выделения элемента*/
  outline: solid lightyellow 1px;
}
.fatness li,
.filler li {
  display: inline-block;
  vertical-align: top;
}
