body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background-color: #849d8f;
  font-weight: normal;
  font-family: "Roboto", Arial, sans-serif;
}
h1 {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: bold;
}
h2 {
  font-size: 28px;
  line-height: 32px;
  color: #ffffff;
  font-weight: normal;
}
h3 {
  font-size: 24px;
  line-height: 28px;
  color: #323232;
  font-weight: normal;
}
h4 {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  font-weight: normal;
}
.container {
  width: 1200px;
  margin: 0 auto;
  /*для визуального выделения элемента*/
  outline: solid yellow 2px;
}
.main-header,
.phone-header,
.slider,
.banner,
.hit,
.goods,
.about,
.blog,
.footer,
.breadcrumbs,
.filters {
  width: auto;
  margin: 0 2.3%;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*header*/
.logo {
  float: left;
  height: 63px;
  width: 153px;
  margin-right: 30px;
  /*для визуального выделения элемента*/
  outline: solid lightyellow 1px;
}
.main-navigation {
  float: left;
  padding-top: 10px;
  width: 570px;
  font-size: 0;
  /*для визуального выделения элемента*/
  outline: solid lightyellow 1px;
}
.navigation-menu li{
  display: inline-block;
  vertical-align: middle;
  padding-right: 28px;
  /*для визуального выделения элемента*/
  outline: solid lightyellow 1px;
}
.main-navigation a{
  font-size: 16px;
  line-height: 18px;
  color:#ffffff;
}
.navigation-submenu {
  display: none;
}
.user-block {
  float: right;
  width: 263px;
  font-size: 0;
  text-align: right;
  /*для визуального выделения элемента*/
  outline: solid lightyellow 1px;
}
.search-list,
.login-list,
.cart {
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  background-color: #9db1a5;
}
.search-list,
.login-list {
  padding-right: 10px;
}
.search-list a,
.login-list a,
.cart a {
  font-size: 16px;
  line-height: 18px;
  color:#ffffff;
  text-decoration:none;
}
.search-form,
.cart-tooltip,
.login-form {
  display: none;
}
.phone-header {
  float: right;
  width: 267px;
  text-align: right;
  /*для визуального выделения элемента*/
  outline: solid lightyellow 1px;
}

/*Блок со слайдером*/
.slider {
  position: relative;
  min-height: 881px;
  margin-bottom: 40px;
  text-align: center;
  /*для визуального выделения элемента*/
  outline: solid lightyellow 1px;
}
.slider-slides {
  width: 300%;
}
.slide {
  width: 1045px;
  height: 881px;
  float: left;
}
.slider-inner {
  overflow: hidden;
}
.slider-controls {
  position: absolute;
  top: 560px;
  width: 100%;
  left: 0;
  bottom: 0px;
  z-index: 100;
  text-align: left;
  font-size: 0;
  /*для визуального выделения элемента*/
  outline: solid lightyellow 1px;
}
.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  box-shadow: 0 0 0 0 #ffffff;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background-color: #849d8f;
}
.controls input[type=radio] {
  display: none;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background-color: #ffffff;
}
/*
#btn-1:checked ~ .slider-inner .slider-slides {
  transform: translate(0);
}
#btn-2:checked ~ .slider-inner .slider-slides {
  transform: translate(-450px);
}
#btn-3:checked ~ .slider-inner .slider-slides {
  transform: translate(-900px);
}
*/
.slider-slogan {
  position: absolute;
  top: 331px;
  left: 185px;
  color: #ffffff;
  font-size: 60px;;
  line-height: 60.35px;
  font-family: "Roboto Black", sans-serif;
  /*для визуального выделения элемента*/
  outline: solid lightyellow 1px;
}
.btn-both {
  display: inline-block;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  text-decoration: none;
  /*для визуального выделения элемента*/
  outline: solid lightyellow 1px;
}
#slide-2,
#slide-3 {
  display: none;
}

/*Блок с баннерами*/
.banner {
  margin-bottom: 40px;
  /*для визуального выделения элемента*/
  outline: solid lightyellow 1px;
}
.banner-left {
  float: left;
  background-image: url(../img/razz.png);
  background-repeat: no-repeat;
  width: 540px;
  min-height: 229px;
  padding-left: 20px;
}
.banner-right {
  float: right;
  background-image: url(../img/chocolate.png);
  background-repeat: no-repeat;
  width: 540px;
  min-height: 229px;
  padding-left: 20px;
}

/*Блок с хитами*/
.hit {
  font-size: 0;
}
.item {
  display: inline-block;
  margin-right: 2.2%;
  vertical-align: top;
  width: 267px;
  margin-bottom: 40px;
  text-align: center;
  /*для визуального выделения элемента*/
  outline: solid lightyellow 1px;
}
.item:nth-child(4n) {
  margin-right: 0;
}
.item a {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}
.item-ice p {
  font-size: 30px;
  line-height: 45px;
}
.item-ice {
  position: relative;
  /*для визуального выделения элемента*/
  outline: solid red 1px;
}
.price {
  position: absolute;
  bottom: 20px;
  left: 0;
}
/*Каталог*/
.goods {
  font-size: 0;
}
.btn {
  display: inline-block;
  /*для визуального выделения элемента*/
  outline: solid orange 1px;
}
.item-view {
  display: none;
}

/*Блок с информацией о магазине*/
.about {
  background-image: url(../img/texture-wafer.png);
  margin-bottom: 40px;
  color: #323232;
  font-size: 0;
}
.about-title {
  font-size: 24px;
  line-height: 30px;
  padding: 0;
  /*для визуального выделения элемента*/
  outline: solid gray 1px;
}
.about li {
  display: inline-block;
  vertical-align: top;
  width: 48.9%;
  margin-right: 2.2%;
  font-size: 16px;
  line-height: 22px;
  /*для визуального выделения элемента*/
  outline: solid gray 1px;
}
.about li:nth-child(2n) {
  margin-right: 0;
}

/*Блок с новостями и рассылкой*/
.blog {
  margin-bottom: 40px;
}
.news {
  float: left;
  background-image: url(../img/blog-image.jpg);
  width: 48.9%;
  min-height: 220px;
}
.distribution {
  float: right;
  background-color: #f8f7f4;
  width: 48.9%;
  min-height: 220px;
  font-size: 16px;
  color: #5a5a5a;
}

/*Блог с картой*/
.map {
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  width: 1200px;
  min-height: 430px;
  margin: 0 auto;
}
.map-address {
  float: right;
  background-color: #fefefe;
  width: 277px;
  margin-right: 2.3%;
  margin-top: 62px;
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 30px;
  color: #323232;
  font-size: 14px;
}
.map-address p {
  font-size: 14px;
  line-height: 20px;
  color: #323232;
}
.feedback {
  display: none;
}

/*подвал сайта*/
.footer {
  margin-top: 0px;
  /*для визуального выделения элемента*/
  outline: solid lightyellow 1px;
}
.footer-social {
  float: left;
  width: 185px;
  min-height: 31.41px;
  margin-right: 215px;
  margin-top: 36px;
  /*для визуального выделения элемента*/
  outline: solid lightyellow 1px;
}
.footer-info {
  float: left;
  margin-top: 30px;
  font-size: 0;
  width: 400px;
  /*для визуального выделения элемента*/
  outline: solid lightyellow 1px;
}
.footer-info li {
  display: inline-block;
  vertical-align: top;
  margin-right: 32px;
  width: 168px; /*размер под сомнением*/
}
.footer-info a {
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}
.footer-copyright {
  float: right;
  margin-top: 17px;
  font-size: 12px;
  line-height: 16px;
  /*для визуального выделения элемента*/
  outline: solid lightyellow 1px;
}
.footer-copyright a {
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  text-decoration: none;
}

/*Хлебные крошки*/
.breadcrumbs {
  font-size: 0;
  /*для визуального выделения элемента*/
  outline: solid lightyellow 1px;
}
.breadcrumbs li {
  display: inline-block;
  vertical-align: top;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
}
.breadcrumbs a {
  color: #ffffff;
}

/*Переключатель страниц*/
.paginator {
  text-align: right;
  /*для визуального выделения элемента*/
  outline: solid lightyellow 1px;
}
.paginator a,
.paginator span {
  display: inline-block;
  vertical-align: top;
}

/*Фильтры*/
.filters {
  font-size: 0;
  margin-bottom: 40px;
  /*для визуального выделения элемента*/
  outline: solid orange 1px;
}
.select {
  display: inline-block;
  vertical-align: top;
  width: 192px;
  margin-right: 16px;
  margin-bottom: 17px;
  font-size: 14px;
  line-height: 14px;
  /*для визуального выделения элемента*/
  outline: solid lightyellow 1px;
}
.range-controls {
  display: inline-block;
  vertical-align: top;
  width: 218px;
  margin-right: 15px;
  margin-bottom: 17px;
  font-size: 14px;
  line-height: 14px;
  /*для визуального выделения элемента*/
  outline: solid lightyellow 1px;
}
.fatness {
  display: inline-block;
  vertical-align: top;
  width: 414px;
  margin-bottom: 17px;
  font-size: 14px;
  line-height: 14px;
  /*для визуального выделения элемента*/
  outline: solid lightyellow 1px;
}
.filler {
  display: inline-block;
  vertical-align: top;
  width: 702px;
  margin-right: 15px;
  font-size: 14px;
  line-height: 14px;
  /*для визуального выделения элемента*/
  outline: solid lightyellow 1px;
}
.btn-filter {
  display: inline-block;
  vertical-align: ;
  width: 144px;
  /*для визуального выделения элемента*/
  outline: solid lightyellow 1px;
}
.fatness li,
.filler li {
  display: inline-block;
}
